@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @media (max-width: 1149px) {
        .responsive {
            padding: 0 5% 0 5%;
        }
    }

    @media (min-width: 1150px) {
        .responsive {
            padding: 0 3% 0 3%;
        }
    }

    @media (min-width: 1200px) {
        .responsive {
            padding: 0 5% 0 5%;
        }
    }

    @media (min-width: 1250px) {
        .responsive {
            padding: 0 7% 0 7%;
        }
    }

    @media (min-width: 1300px) {
        .responsive {
            padding: 0 9% 0 9%;
        }
    }

    @media (min-width: 1350px) {
        .responsive {
            padding: 0 11% 0 11%;
        }
    }

    @media (min-width: 1400px) {
        .responsive {
            padding: 0 13% 0 13%;
        }
    }

        /* @media (min-width: 1450px) {
        .responsive {
            padding: 0 15% 0 15%;
        }
    }

    @media (min-width: 1500px) {
        .responsive {
            padding: 0 18% 0 18%;
        }
        }
    
        */
}

.slider{
    height: 800px !important;
}

@media (max-width: 900px) {

    .slider{
        height: 400px !important;
    }
    .slider *> img{
        height: 400px !important;
    }
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: green;
}